services:
  postgres:
    image: postgres:18
    container_name: yunaos_postgres
    environment:
      POSTGRES_USER: yunaos
      POSTGRES_PASSWORD: yunaos
      POSTGRES_DB: yunaos_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  minio:
    image: minio/minio:RELEASE.2025-06-13T11-33-47Z
    container_name: yunaos_minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
